@import "tailwindcss";
@plugin '../hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

.textoLogo {
    letter-spacing: 0.1em;
}

.menu-principal li {
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.menu-principal li:hover,
.menu-principal li.active {
    border-bottom: 2px solid #fff;
}